
<html>
<!-- <button class="custom-button" (click)="generateCharts()">Calculate</button> -->
<p></p>
<button class="custom-button"  *ngIf="info['infoJson']" (click)="generateJsonData()">Generar Reporte</button>
<!-- <button class="custom-button" (click)="generatePDF()">Generate PDF</button>  -->

<h2 class="chart-title"> {{info['nombre']}}</h2>
<!-- <div class="container"> -->
<form class="form">
    <div class="form-row" *ngIf="!getEsAsociado()">
        <div class="input-data">
            <input
                required
                type="text"
                inputmode="numeric"
                class="input"
                placeholder=" "
                [name]="'ingresos'"
                [(ngModel)]="info['ingresos']"
                (keyup)="fNumber('ingresos')"
                (input)="calcularAportes()">
            <div class="underline"></div>
            <label >Ingresos</label>
        </div>
    </div>
    <div class="form-row" *ngIf="getEsAsociado()">
        <div class="output-data">
            <div class="output">{{ info['ingresos'] }}</div>
            <label class="chart">{{ displayName('ingresos') | titlecase }}</label>
            <div class="underline"></div>
          </div>
    </div>
    <!-- Información del asociado -->
    <div class="form-row" *ngFor="let key of ['cuotaAportes','saldoAportes']">
        <div class="output-data">
          <div class="output">{{ info[key] }}</div>
          <label class="chart">{{ displayName(key) | titlecase }}</label>
          <div class="underline"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="output-data">
          <div class="output">{{ infoCliente['calificacion'] }}</div>
          <label class="chart">{{ displayName('Calificacion') | titlecase }}</label>
          <div class="underline"></div>
        </div>
    </div>

    <div class="form-row">
        <div class="checkbox-wrapper">
            <div *ngIf="!info['isApalancamiento']" >
                <label class="chart">Apalancamiento</label>
            </div>
          <div *ngIf="info['isApalancamiento']" class="input-data" >
            <input
                required
                type="text"
                inputmode="numeric"
                class="input"
                placeholder=" "
                [name]="'valorApalancamiento' "
                [(ngModel)]="info['valorApalancamiento']"
                (keyup)="fNumber('valorApalancamiento')">
            <div class="underline"></div>
            <label >Apalancamiento</label>
        </div>
          <input type="checkbox" [(ngModel)]="info['isApalancamiento']"  name='isApalancamiento'>
        </div>
    </div>

    <div class="form-row">
        <div class="input-data">
            <input
                required
                type="text"
                inputmode="numeric"
                class="input"
                placeholder=" "
                [name]="'valorRequerido'"
                [(ngModel)]="situacionFutura['valorRequerido']"
                (keyup)="fNumber2('valorRequerido')"
                (input)="calcularSituacionFutura()">
            <div class="underline"></div>
            <label >Valor Requerido</label>
        </div>
    </div>

</form>

<h2 class="chart-title" > {{situacionFutura['productoOfrecido']}}
    <label class="switch">
        <input type="checkbox" (change)="seleccionarProducto($event)" />
        <span class="slider"></span>
      </label>
</h2>

<!-- Form Producto Ofrecido -->
<form class="form">

    <div class="form-row">
        <div class="output-data" *ngIf="situacionFutura['productoOfrecido']==='Rotativo' " >
            <div class="output">{{ situacionFutura['tasa+Costos'] }}</div>
            <label class="chart">{{ displayName('tasaBeneficiar') | titlecase }}</label>
            <div class="underline"></div>
        </div>


        <!-- (keypress)="allowNumbers($event,'tasa+Costos')" -->

        <div class="input-data" *ngIf="situacionFutura['productoOfrecido']==='Consumo'">
            <input
                required
                type="number"
                class="input"
                placeholder=" "
                [name]="'tasaBeneficiar'"
                [(ngModel)]="situacionFutura['tasa+Costos']"


                (input)="calcularSituacionFutura()"
                >
            <div class="underline"></div>
            <label >{{displayName('tasaBeneficiar') | titlecase}}</label>
        </div>
    </div>

    <div class="form-row">
        <div class="input-data">
            <input
                required
                type="number"
                class="input"
                placeholder=" "
                [name]="'plazoCredito'"
                [(ngModel)]="situacionFutura['plazo']"
                min="0"
                (input)="calcularSituacionFutura()"
                >
                <div class="underline"></div>
            <label >{{displayName('plazoCredito') | titlecase}}</label>
        </div>
    </div>


</form>

<form class="form">

    <form class="form">
        <h2 class="chart-title">PRESENTE</h2>
        <div *ngFor="let key of getKeysObject(situacionActual)">
            <div class="form-row">
                <div class="output-data">
                    <div class="output">{{ situacionActual[key] }}</div>
                    <label class="chart">{{ displayName(key) | titlecase }}</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </form>

    <form class="form">
        <h2 class="chart-title">FUTURO</h2>
        <div *ngFor="let key of getKeysObject(situacionActual)">
            <div class="form-row">
                <div class="output-data">
                    <div class="output">{{ situacionFutura[key] }}</div>
                    <label class="chart">{{ displayName(key) | titlecase }}</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </form>

    <form class="form">
        <h2 class="chart-title">DIFERENCIAS</h2>
        <div *ngFor="let key of getKeysObject(diferenciasSituaciones)">
            <div class="form-row">
                <div class="output-data">
                    <div class="output">{{ diferenciasSituaciones[key] }}</div>
                    <label class="chart">{{ displayName(key) | titlecase }}</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </form>
</form>
<!-- </div> -->

<!-- <button class="custom-button" (click)="generateCharts()">Calculate</button>
<p></p> -->
<button class="custom-button" (click)="generateJsonData()">Generar Reporte</button>


<app-generate-chart
    #resumenInteres
    title="Impacto Asesoria Financiera Variacion Costos">
</app-generate-chart>
<app-generate-chart
    #resumenFlujoCaja
    title="Impacto Asesoria Financiera Flujo de Caja">
</app-generate-chart>
</html>
