
<html *ngIf="getEstadoConsulta()">

<h2 class="chart-title"> {{info['nombre']}}</h2>
<!-- <div class="container"> -->
<form class="form">
    <div class="form-row" *ngIf="!getEsAsociado()">
        <div class="input-data">
            <input
                required
                type="text"
                inputmode="numeric"
                class="input"
                placeholder=" "
                [name]="'ingresos'"
                [(ngModel)]="info['ingresos']"
                (keyup)="fNumber('ingresos')"
                (input)="calcularAportes()">
            <div class="underline"></div>
            <label >Ingresos</label>
        </div>
    </div>
    <div class="form-row" *ngIf="getEsAsociado()">
        <div class="output-data">
            <div class="output">{{ info['ingresos'] }}</div>
            <label class="chart">{{ displayName('ingresos') | titlecase }}</label>
            <div class="underline"></div>
          </div>
    </div>
    <!-- Información del asociado -->
    <div class="form-row" *ngFor="let key of ['cuotaAportes','saldoAportes']">
        <div class="output-data">
          <div class="output">{{ info[key] }}</div>
          <label class="chart">{{ displayName(key) | titlecase }}</label>
          <div class="underline"></div>
        </div>
    </div>
    <div class="form-row">
      <div class="output-data">
        <div class="output" [style.color]="estadoCalificacion()">
          {{ infoCliente['calificacion'] }}
        </div>
        <label class="chart">Calificacion</label>
        <div class="underline"></div>
      </div>
    </div>

    <div class="form-row">
        <div class="checkbox-wrapper" *ngIf="!info['isApalancamiento']" >
                <label class="chart">Apalancamiento</label>
        </div>

        <div class="output-data" *ngIf="info['isApalancamiento']" >
          <div class="output">{{ info['valorApalancamiento'] }}</div>
          <label class="chart">{{ displayName('Apalancamiento') | titlecase }}</label>
          <div class="underline"></div>
        </div>
        <input type="checkbox" [(ngModel)]="info['isApalancamiento']" (change)="calcularApalancamiento()" name='isApalancamiento'>
    </div>

    <div class="form-row">
        <div class="input-data">
            <input
                required
                type="text"
                inputmode="numeric"
                class="input"
                placeholder=" "
                [name]="'valorRequerido'"
                [(ngModel)]="situacionFutura['valorRequerido']"
                (keyup)="fNumber2('valorRequerido')"
                (input)="calcularSituacionFutura()">
            <div class="underline"></div>
            <label >Valor Requerido</label>
        </div>
    </div>

</form>

<div>
  <h2 class="chart-title">Tipo de Producto</h2>
  <div class="dropdown-group">
      <select [(ngModel)]="indexProducto" class="dropdown" (change)="seleccionProducto(indexProducto)">
          <option *ngFor="let producto of getTiposProductos(); let i = index" [value]="i">
              {{ producto['VALOR'] }}
          </option>
      </select>
  </div>
</div>

<div>
  <h2 class="chart-title">Tipo de Garantia</h2>
  <div class="dropdown-group">
      <select [(ngModel)]="indexGarantia" class="dropdown" (change)="seleccionGarantia(indexGarantia)">
          <option *ngFor="let garantia of getTiposGarantias(); let i = index" [value]="i">
              {{ garantia['VALOR'] }}
          </option>
      </select>
  </div>
</div>

<!-- Form Producto Ofrecido -->
  <form class="form">

    <div class="form-row">

      <div class="input-data">
        <input
          required
          type="text"
          class="input"
          placeholder=" "
          [name]="'tasaBeneficiar'"
          [(ngModel)]="situacionFutura['tasa+Costos']"
          (input)="validateAndCalculate($event)"
        />
        <div class="underline"></div>
        <label>Tasa Beneficiar</label>
      </div>
  </div>

    <div class="form-row">
      <div class="input-data">
        <input
            required
            type="number"
            class="input"
            placeholder=" "
            [name]="'plazoCredito'"
            [(ngModel)]="situacionFutura['plazo']"
            (input)="calcularSituacionFutura()"
        >
        <div class="underline"></div>
        <label > Plazo Producto</label>
      </div>
    </div>

    <div class="form-row">
      <div class="output-data">
        <div class="output" [style.background]="estadoCapacidadPago()">
        </div>
        <label class="chart" [style.color]="'black'">Cap. de Pago: {{ capacidadPago }}</label>
      </div>
    </div>

  </form>

<form action="">
<div class="form-row">
  <div class="input-data">
    <input
      required
      type="text"
      class="input"
      placeholder=" "
      [name]="'Comentarios'"
      [(ngModel)]="comentarios"
    >
    <div class="underline"></div>
    <label>Comentarios</label>
</div>
</div>
</form>
<button class="custom-button" (click)="validacionInformacion()">Generar Reporte</button>


<form class="form">

    <form class="form">
        <h2 class="chart-title">PRESENTE</h2>
        <div *ngFor="let key of getKeysObject(situacionActual)">
            <div class="form-row">
                <div class="output-data">
                    <div class="output">{{ situacionActual[key] }}</div>
                    <label class="chart">{{ displayName(key) | titlecase }}</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </form>

    <form class="form">
        <h2 class="chart-title">FUTURO</h2>
        <div *ngFor="let key of getKeysObject(diferenciasSituaciones)">
            <div class="form-row">
                <div class="output-data">
                    <div class="output">{{ situacionFutura[key] }}</div>
                    <label class="chart">{{ displayName(key) | titlecase }}</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </form>

    <form class="form">
        <h2 class="chart-title">DIFERENCIAS</h2>
        <div *ngFor="let key of getKeysObject(diferenciasSituaciones)">
            <div class="form-row">
                <div class="output-data">
                    <div class="output">{{ diferenciasSituaciones[key] }}</div>
                    <label class="chart">{{ displayName(key) | titlecase }}</label>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </form>
</form>

<app-generate-chart
    #resumenInteres
    title="Impacto Asesoria Financiera Variacion Costos">
</app-generate-chart>
<app-generate-chart
    #resumenFlujoCaja
    title="Impacto Asesoria Financiera Flujo de Caja">
</app-generate-chart>
</html>
