<div class="component">
<form class="form">
  <div class="form-row">
  <img class="img" src="https://zonaprivada.beneficiar.com.co/assets/images/logo.png" alt="">
  </div>
  <div class="form-row">
    <div class="input-data">
    <input
      type="number"
      id="cedula"
      name="cedula"
      required
      [(ngModel)]="cedula"
      #cedulaModel="ngModel"
      placeholder=""
    />
    <div class="underline"></div>
        <label>Cedula</label>

      <div *ngIf="cedulaModel.invalid && cedulaModel.touched" class="error">
        <span *ngIf="cedulaModel.errors?.['required']">Cedula is required.</span>
        <span *ngIf="cedulaModel.errors?.['cedula']">Invalid cedula format.</span>
      </div>
    </div>
  </div>
  
      <!-- Password Input -->
      <div class="form-row">
        <div class="input-data">
        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
          #passwordModel="ngModel"
          placeholder=""
        />
        <div class="underline"></div>
            <label>Password</label>

        <div *ngIf="passwordModel.invalid && passwordModel.touched" class="error">
          <span *ngIf="passwordModel.errors?.['required']">Password is required.</span>
          <span *ngIf="passwordModel.errors?.['minlength']">
            Password must be at least 6 characters long.
          </span>
        </div>
        </div>
      </div>
      <button class="custom-button" (click)="onSubmit()">Ingresar</button>
</form>
</div>