<div class="component" *ngIf="!gAccess()">
  <form class="form" action="">
    <div class="form-row">
    <img class="img" src="https://zonaprivada.beneficiar.com.co/assets/images/logo.png" alt="">
    </div>
    <div clas="form-row" *ngIf="error">
      <p class="error-message">Info invalida</p>
    </div>
  
    <div class="form-row">
      <div class="input-data">
        <input
          type="chart"
          required
          class="input"
          placeholder=" "
          [name]="'input cedula'"
          [(ngModel)]="cedula"
          (keyup)="fNumber('')"
        >
        <div class="underline"></div>
            <label>Cedula</label>
        </div>
    </div>  
       
    <div class="form-row">
      <div class="input-data">
      <input
        type="password"
        id="password"
        class="input"
        name="password"
        required
        [(ngModel)]="password"
        placeholder=""
      >
      <div class="underline"></div>
          <label>Password</label>
      </div>
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <div class="spinner"></div>
      <p>Loading, please wait...</p>
    </div>
        <button  class="custom-button"  (click)="onSubmit()"  *ngIf="!gAccess()">  Ingresar
</button>
  </form>
  </div>
  


<div *ngIf="gAccess()">Resultado del estudio
  <p>{{getJsonFile()}}</p>
</div>
  
          