@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  background: #242526;
  padding: 0px 0px 0px 10px;
}

nav .wrapper {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #3A3B3C;
}



.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(206, 242, 247);
  display: flex;
  border: 2px solid #ccc; /* Add a border */
  border-radius: 15px; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.popup-content {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;    /* Center horizontally */
  position: relative; /* To contain button */
  margin: 5px;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: -4px; /* Adjust as needed */
  right: 8px; /* Adjust as needed */
  background-color: transparent;
  border: none;
  font-size: 20px; /* Adjust size */
  cursor: pointer;
  color: black; /* Or any color you prefer */
}

.close-button:hover {
  color: lightgray;
}


/* Styles for the overlay (the "grayed out" background) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(162, 162, 162, 0.916); /* Semi-transparent black */
  z-index: 999; /* Below the popup but above other content */
  display: flex; /* To center the popup */
  justify-content: center;
  align-items: center;
}
/* Styles to prevent interaction with the rest of the page */
body.modal-open {
  overflow: hidden; /* Prevent scrolling of the main page */
}

body.modal-open > *:not(.overlay) { /* Disable interaction with other content */
  pointer-events: none; /* Make other elements unclickable */
  user-select: none; /* Prevent text selection */
  cursor: default; /* Change the cursor */
}

body.modal-open > .overlay > .popup, body.modal-open > .overlay > .popup *{
  pointer-events: auto; /* Re-enable pointer events for the dialog and its contents */
  user-select: auto; /* Re-enable text selection */
  cursor: auto; /* Restore the cursor */
}

/* loading-example.component.css */
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: aliceblue;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
