<div *ngIf="getAccess()">
    <nav>
      <div class="wrapper">
        <a routerLink="/Home">
          <img width="100" height="60" src="https://zonaprivada.beneficiar.com.co/assets/images/logo.png" img>
        </a>
          <div class="nav-links">
            <li><a routerLink="/Productos">Productos</a></li>
            <li *ngIf="getEstadoConsulta()"><a routerLink="/Resumen">Resumen</a></li>
          </div>
        <a routerLink="/Home" (click)="logOut()">
          <img width="50" height="40" src="https://img.icons8.com/sf-regular/48/FFFFFF/exit.png" alt="exit"/>
        </a>
      </div>
    </nav>
    <div> Bienvenido {{getNombreFuncionario()}}</div>
  </div>
<router-outlet></router-outlet>

<div class="overlay" *ngIf="getContenidoPopUp()!='' || getEstadoCargando()">
  <div *ngIf="!getEstadoCargando()" class="popup" title="popup" [style.color]="'red'">
    <p class="popup-content">{{getContenidoPopUp()}}</p>
    <button class="close-button" (click)="closePopUp()">×</button>
  </div>
  <div *ngIf="getEstadoCargando()" class="popup">
    <div class="popup-content">
    <p>Cargando </p>
    <div class="spinner"></div>
    <p >Por favor espere...</p>
    </div>
  </div>
</div>

