<div *ngIf="getAccess()">
    <nav>
      <div class="wrapper">      
        <a routerLink="/Home">
          <img src="https://zonaprivada.beneficiar.com.co/assets/images/logo.png" img>
        </a>
          <div class="nav-links">
            <li><a routerLink="/Productos">Productos</a></li>
            <li><a routerLink="/Resumen">Resumen</a></li>
            <li><a routerLink="/Home" (click)="logOut()">Salir</a></li>
        </div>
      </div>
    </nav>
    <div> Bienvenido {{getNombreFuncionario()}}</div>
  </div>
<router-outlet></router-outlet>