
<router-outlet></router-outlet>

<form class="form" *ngIf="gAccess()">
      <div class="form-row">
      <div class="input-data">
        <input type="chart"
                inputmode="numeric"
                required class="input"
               placeholder=" " name="documento"
               [(ngModel)]="infoCliente['documento']"
               (keyup)="formatear('documento',infoCliente['documento'])"
               >
        <div class="underline"></div>
        <label>Documento</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input type="chart" required class=""
               placeholder=" " name="primerApellido"
               [(ngModel)]="infoCliente['primerApellido']"
               >
        <div class="underline"></div>
        <label>Apellido</label>
      </div>
    </div>
      <p class="error-message" *ngIf="error && !autorizar ">Documento no Autorizado</p>
        <button *ngIf="error && !autorizar "
          class="custom-button" (click)="procesoAutorizacion(infoCliente['documento'])"
          >Autorizar Consulta</button>
      <p class="error-message" *ngIf="autorizar && primerApellido!==''" >Autorizado</p>

      <p class="error-message" *ngIf="autorizar && getDocumentoAutorizado()===getDoc()
         && !error" >Sin Informacion</p>

    <div class="form-row" *ngIf="!error && getNombreCliente()!=='' ">
      <div class="input-data">
        <input type="chart" required class=""
               placeholder=" " name="nombre"
               [(ngModel)]="infoCliente['nombre']"
               >
        <div class="underline"></div>
        <label>Nombre</label>
      </div>
    </div>
    <button
     *ngIf="!getEstadoCargando()"
      class="custom-button" (click)="searchData()"> CONSULTAR</button>

</form>



<!-- Informacion del Producto -->
<div *ngIf="consultaExitosa">

  <!-- Lista de Productos -->
<h2 *ngIf="productList.length === 0" class="chart-title"> Sin Productos</h2>

<div *ngIf="productList.length > 0" class="dropdown-group">
  <h2 class="chart-title"> Listado de productos</h2>

<select [(ngModel)]="selectedProductIndex" class="dropdown"
  (change)="chooseProduct(selectedProductIndex!)">
  <option *ngFor="let product of productList; let i = index" [value]="i" >
    {{ product['Nombre Producto'] }} </option>
</select>
</div>
<form class="form">
<div class="form-row">
    <div class="input-data">
      <input type="chart" required class="input"
             placeholder=" " name="Nombre Producto"
             [(ngModel)]="product['Nombre Producto']">
      <div class="underline"></div>
      <label>Nombre Producto</label>
    </div>
</div>

<div class="form-row">
      <div class="checkbox-wrapper">
        <label>Tarjeta</label>
        <input type="checkbox" name="tipo de producto" [(ngModel)]="isTarjeta" (change)="tipoDeProducto($event)">
        <label>Recoger</label>
        <input type="checkbox" name="refinanciamiento" [(ngModel)]="isRef" (change)="eleccionRecoger($event)"/>
      </div>
</div>

<div class="form-row" *ngFor="let field of [
    'Deuda Actual',
    'Plazo Actual',
    'Pago Mensual',
    'Tasa Entidad',
    ]; let i = index">
<div class="input-data">
  <input
    type="chart"
    inputmode="numeric"
    required
    class="input"
    placeholder=" "
    [name]="'input' + i"
    [(ngModel)]="product[field]"
    (keyup)="fNumber(field)"
    (keyup)=" calculateRealRate()"

    >
  <div class="underline"></div>
  <label>{{ field | titlecase }}</label>
</div>
</div>

<div class="form-row" *ngFor="let field of [
    'Tasa Real',
    'Diferencia Tasas',
    'Interes Actual',
    'Interes Beneficiar',
    'Diferencia Interes'
    ]; let i = index">
<div class="output-data">
  <div class="output">{{ product[field] }}</div>
  <label class="chart">{{ field | titlecase }}</label>
  <div class="underline"></div>
</div>
</div>

<div class="form-row">
      <div class="input-data">
        <input type="chart" required class="input"
        inputmode="numeric"
       placeholder=" " name="Tasa Beneficiar"
       [(ngModel)]="product['Tasa Beneficiar']"
       (keyup)="calcularInteresBeneficiar()"
       (keypress)="tasaPermitida(product['Tasa Beneficiar'])">
        <div class="underline"></div>
        <label>Tasa Beneficiar</label>
      </div>
</div>

</form>

<!-- Modificar Lista de Productos -->
<form class="formB">
    <button class="custom-buttonB" (click)="addProduct()">
      {{ selectedProductIndex === null ? 'Agregar Producto' : 'Actualizar Producto' }}
    </button>
    <button *ngIf="productList.length > 0" class="custom-buttonB" (click)="resetForm()">Nuevo Producto  </button>
    <button *ngIf="productList.length > 0" class="custom-buttonB delete" (click)="deleteProduct(selectedProductIndex!)">Eliminar Producto</button>
</form>

</div>







