
<router-outlet></router-outlet>

<form class="form" *ngIf="gAccess()">
      <div class="form-row">
      <div class="input-data">
        <input type="chart" 
                inputmode="numeric"
                required class="input" 
               placeholder=" " name="documento" 
               [(ngModel)]="infoCliente['documento']"
               (keyup)="documentoNumber()"
               >
        <div class="underline"></div>
        <label>Documento</label>
      </div>
    </div>
    <div class="form-row" *ngIf="!getEsAsociado() && error">
      <div class="input-data">
        <input type="chart" required class="" 
               placeholder=" " name="primerApellido" 
               [(ngModel)]="primerApellido"
               >
        <div class="underline"></div>
        <label>Apellido</label>
      </div>
    </div>
      <p class="error-message" *ngIf="error && !autorizar && !isLoading">Documento no Autorizado</p>
        <button *ngIf="error && !autorizar && !isLoading"
          class="custom-button" (click)="procesoAutorizacion(infoCliente['documento'])"
          >Autorizar Consulta</button>
      <p class="error-message" *ngIf="autorizar && primerApellido!=='' &&!isLoading" >Autorizado</p>

      <p class="error-message" *ngIf="autorizar && getDocumentoAutorizado()===getDoc() 
        && !isLoading && !error" >Sin Informacion</p>

    <div class="form-row" *ngIf="!error && getNombreCliente()!=='' &&!isLoading ">
      <div class="input-data">
        <input type="chart" required class="" 
               placeholder=" " name="nombre" 
               [(ngModel)]="infoCliente['nombre']"
               >
        <div class="underline"></div>
        <label>Nombre</label>
      </div>
    </div>
    <div class="form-row" *ngIf="isLoading">
    <div  class="spinner-container">
      <div class="spinner"></div>
      <p>Loading, please wait...</p>
    </div>
  </div>
    <button 
     *ngIf="!isLoading"
      class="custom-button" (click)="searchData()"> GET DATA</button>
 
</form>

<!-- Lista de Productos -->
<div *ngIf="productList.length > 0" class="dropdown-group">
<select [(ngModel)]="selectedProductIndex" class="dropdown"
  (change)="chooseProduct(selectedProductIndex!)">
  <option *ngFor="let product of productList; let i = index" [value]="i" >
    {{ product['Nombre Producto'] }} </option>
</select>
</div>

<!-- Informacion del Producto -->
<form class="form">
<div class="form-row">
    <div class="input-data">
      <input type="chart" required class="input" 
             placeholder=" " name="Nombre Producto"
             [(ngModel)]="product['Nombre Producto']">
      <div class="underline"></div>
      <label>Nombre Producto</label>
    </div>
</div>  

<div class="form-row">
      <div class="checkbox-wrapper">
        <label>Tarjeta</label>
        <input type="checkbox" name="tipo de producto" [(ngModel)]="isTarjeta" (change)="tipoDeProducto($event)">
        <label>Recoger</label>
        <input type="checkbox" name="refinanciamiento" [(ngModel)]="isRef" (change)="eleccionRecoger($event)"/>
      </div>
</div>
  
<div class="form-row" *ngFor="let field of [
    'Deuda Actual',
    'Plazo Actual',
    'Pago Mensual',
    'Tasa Entidad',
    ]; let i = index">
<div class="input-data">
  <input 
    type="chart"
    inputmode="numeric"
    required 
    class="input" 
    placeholder=" " 
    [name]="'input' + i" 
    [(ngModel)]="product[field]"
    (keyup)="fNumber(field)"
    >
  <div class="underline"></div>
  <label>{{ field | titlecase }}</label>
</div>
</div>

<div class="form-row" *ngFor="let field of [
    'Tasa Real',
    'Diferencia Tasas',
    'Interes Actual',
    'Interes Beneficiar',
    'Diferencia Interes'
    ]; let i = index">
<div class="output-data">
  <div class="output">{{ product[field] }}</div>
  <label class="chart">{{ field | titlecase }}</label>
  <div class="underline"></div>
</div>
</div>

<div class="form-row">
      <div class="input-data">
        <input type="chart" required class="input" 
        inputmode="numeric"
       placeholder=" " name="Tasa Beneficiar" 
       [(ngModel)]="product['Tasa Beneficiar']"
       (keyup)="calcularInteresBeneficiar()"
       (keypress)="allowNumbers($event,'Tasa Beneficiar')">
        <div class="underline"></div>
        <label>Tasa Beneficiar</label>
      </div>
</div>

</form>

<!-- Modificar Lista de Productos -->
<form class="formB">
    <button class="custom-buttonB" (click)="addProduct()">
      {{ selectedProductIndex === null ? 'Agregar Producto' : 'Actualizar Producto' }}
    </button>
    <button *ngIf="productList.length > 0" class="custom-buttonB" (click)="resetForm()">Nuevo Producto  </button>
    <button *ngIf="productList.length > 0" class="custom-buttonB delete" (click)="deleteProduct(selectedProductIndex!)">Eliminar Producto</button>
</form>

