<!-- Calculate Button -->
<button class="custom-button" (click)="calculate()">Calculate</button>

<!-- Form Start -->
<form class="form">
    <form class="form">
        <div class="form-row" *ngFor="let key of getCategorizedKeys().general">
            <div class="input-data">
                <input 
                    type="chart" 
                    required 
                    class="input" 
                    placeholder=" " 
                    [name]="'input' + key" 
                    [(ngModel)]="info[key]" 
                    (keyup)="fNumber(key)"
                    >
                <div class="underline"></div>
                <label >{{displayName(key) | titlecase}}</label>
            </div>
        </div>
</form>
    <form class="form">
    <!-- Credit Details -->
    <div *ngFor="let key of getCategorizedKeys().credit">
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="text" 
                    class="input" 
                    placeholder=" " 
                    [name]="key" 
                    [(ngModel)]="info[key]" 
                    (keyup)="fNumber(key)">
                <div class="underline"></div>
                <label >{{displayName(key) | titlecase}}</label>
            </div>
        </div>
    </div>
    <div>
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="text" 
                    class="input" 
                    placeholder=" " 
                    [name]="'tasaCreditoBeneficiar'" 
                    [(ngModel)]="info['tasaCreditoBeneficiar']" 
                    (keypress)="allowNumbers($event,'tasaCreditoBeneficiar')">
                <div class="underline"></div>
                <label >{{displayName('tasaCreditoBeneficiar') | titlecase}}</label>
            </div>
        </div>
    </div>
</form>

    <form class="form">
    <!-- Rotativo Details -->
    <div *ngFor="let key of getCategorizedKeys().rotativo">
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="text" 
                    class="input" 
                    placeholder=" " 
                    [name]="key" 
                    [(ngModel)]="info[key]" 
                    (keyup)="fNumber(key)">
                <div class="underline"></div>   
                <label >{{displayName(key) | titlecase}}</label>

            </div>
        </div>
    </div>
    <div>
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="text" 
                    class="input" 
                    placeholder=" " 
                    [name]="'tasaRotativoBeneficiar'" 
                    [(ngModel)]="info['tasaRotativoBeneficiar']" 
                    >
                <div class="underline"></div>
                <label >{{displayName('tasaRotativoBeneficiar') | titlecase}}</label>
            </div>
        </div>
    </div>
    </form>
</form>

<app-generate-chart 
    #resumenInteres 
    title="Resumen Interes">
</app-generate-chart>
<app-generate-chart 
    #resumenFlujoCaja 
    title="Resumen Flujo de Caja">
</app-generate-chart> 

