<!-- Calculate Button -->



<button class="custom-button" (click)="generateResume()">Calculate</button>

<!-- Form Start -->
<form class="form">
    <!-- Información del asociado -->
    <form class="form">
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="text" 
                    class="input" 
                    placeholder=" " 
                    [name]="'liquidez'" 
                    [(ngModel)]="info['liquidez']" 
                    (keyup)="fNumber('liquidez')"
                    (input)="calculate()">
                <div class="underline"></div>
                <label >Liquidez</label>
            </div>
        </div>
        <div class="form-row" *ngFor="let key of getCategorizedKeys().general">
            <div class="output-data">
              <div class="output">{{ info[key] }}</div>
              <label class="chart">{{ displayName(key) | titlecase }}</label>
              <div class="underline"></div>
            </div>
        </div>        
    </form>

    <form class="form">
    <!-- Información Creditos -->
    <div class="form-row">
        <div class="input-data">
            <input 
                required 
                type="text" 
                class="input" 
                placeholder=" " 
                [name]="'tasaCreditoBeneficiar'" 
                [(ngModel)]="info['tasaCreditoBeneficiar']" 
                (keypress)="allowNumbers($event,'tasaCreditoBeneficiar')"
                (input)="calculate()"
                >
            <div class="underline"></div>
            <label >{{displayName('tasaCreditoBeneficiar') | titlecase}}</label>
        </div>
    </div>
    <div class="form-row">
        <div class="input-data">
            <input 
                required 
                type="number" 
                class="input" 
                placeholder=" " 
                [name]="'plazoCredito'" 
                [(ngModel)]="info['plazoCredito']"
                min="0"
                (input)="calculate()"
                >
                <div class="underline"></div>
            <label >{{displayName('plazoCredito') | titlecase}}</label>
        </div>
    </div>
    <!-- Credit Details -->
    <div *ngFor="let key of getCategorizedKeys().credit">
        <div class="form-row">
            <div class="output-data">
                <div class="output">{{ info[key] }}</div>
                <label class="chart">{{ displayName(key) | titlecase }}</label>
                <div class="underline"></div>
            </div>
        </div>
    </div>        
    </form>

    <form class="form">
        <!-- Rotativo Details -->
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="text" 
                    class="input" 
                    placeholder=" " 
                    [name]="'tasaRotativoBeneficiar'" 
                    [(ngModel)]="info['tasaRotativoBeneficiar']" 
                    (keypress)="allowNumbers($event,'tasaRotativoBeneficiar')"
                    (input)="calculate()"
                    >
                <div class="underline"></div>
                <label >{{displayName('tasaRotativoBeneficiar') | titlecase}}</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input 
                    required 
                    type="number" 
                    class="input" 
                    placeholder=" " 
                    [name]="'plazoRotativo'" 
                    [(ngModel)]="info['plazoRotativo']" 
                    min="0"
                    (keypress)="allowNumbers2($event)"
                    (input)="calculate()">
                <div class="underline"></div>
                <label >{{displayName('plazoRotativo') | titlecase}}</label>
            </div>
        </div>
        <div *ngFor="let key of getCategorizedKeys().rotativo">
            <div class="form-row">

            <div class="output-data">
                <div class="output">{{ info[key] }}</div>
                <label class="chart">{{ displayName(key) | titlecase }}</label>
                <div class="underline"></div>
            </div>
        </div> 
        </div>       
    </form>
</form>

<app-generate-chart 
    #resumenInteres 
    title="Resumen Interes">
</app-generate-chart>
<app-generate-chart 
    #resumenFlujoCaja 
    title="Resumen Flujo de Caja">
</app-generate-chart> 


